 {% extends 'index1.html' %}

{% block content %}
    <h1>Patient Data</h1>

    {% if patient %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Phone-number</th>
                    <th>Address</th>
                    <th>Added by</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.first_name }}</td>
                    <td>{{ patient.last_name }}</td>
                    <td>{{ patient.birthDate }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.added_by.last_name }}, {{ patient.added_by.first_name }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Blood Pressure:</h2>
        {% if patient_blood_pressure_data %}

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Systolic</th>
                        <th>Diastolic</th>
                        <th>Pulse</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in patient_blood_pressure_data %}
                        <tr>
                            <td>{{ record.timestamp }}</td>
                            <td>{{ record.systolic }}</td>
                            <td>{{ record.diastolic }}</td>
                            <td>{{ record.pulse }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No health records found for this patient.</p>
        {% endif %}

      
    {% else %}
        <p>No patient data found for the specified ID.</p>
    {% endif %}
    <p><a href="{% url 'patients' %}">Back to Patient List</a></p>
{% endblock %}

